@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tweet-width: 384px;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 48 48'%3E%3Cg fill='%23000000' fill-opacity='0.05'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

.animation-infinite-grid {
  animation: infinite-grid 30s linear infinite;
}

@keyframes infinite-grid {
  0% {
    transform: rotate(-20deg) skewX(20deg) translateZ(0) translateY(-50%) translateX(0%);
  }

  100% {
    transform: rotate(-20deg) skewX(20deg) translateZ(0) translateY(-10%) translateX(0%);
  }
}
